main.columns {
  display: grid;
  grid-template-columns: 15% 10% auto 10% 15%;
}
main.columns .section1 {
  background: #00f;
  grid-column: 1/span 1;
}
main.columns .section2 {
  background: #008000;
  grid-column: 2/span 1;
}
main.columns .section3 {
  background: #ffa500;
  grid-column: 3/span 1;
}
main.columns .section4 {
  background: #f00;
  grid-column: 4/span 1;
}
main.columns .section5 {
  background: #ff0;
  grid-column: 5/span 1;
}
