main.home
  display grid
  grid-template-columns 20% 80%
  grid-template-rows 100px auto 20px

  heading
    font-size 1.8em
    padding 1em 0 1em 2em
    background darken(purple, 30%)
    color white
    grid-column 1 /span 2
    grid-row 1

  nav
    font-size 1em
    padding 2em 0 0 0
    margin 0
    grid-column 1 /span 1
    grid-row 2
    background lighten(lightgray, 10%)
    ul
      list-style none
      font-size 1.2em
      margin 0
      padding 0
      li
        margin 0
        padding 0
        margin-bottom 1px
        position relative
        a
          display block
          background none
          width 100%
          padding 1em 0 1em 0.5em
          box-sizing border-box
          height auto
          &:hover
            background lighten(lightgray, 30%)


  article
    font-size 1.3em
    line-height 1.5em
    padding 1em 15% 0 2em
    grid-column 2 /span 1
    grid-row 2

  footer
    font-size 12px
    text-align center
    grid-column 1 /span 2
    grid-row 3
    background darken(purple, 30%)
    color white
