body {
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
main {
  height: 100%;
}
main section {
  height: 100%;
}
main.columns {
  display: grid;
  grid-template-columns: 15% 10% auto 10% 15%;
}
main.columns .section1 {
  background: #00f;
  grid-column: 1/span 1;
}
main.columns .section2 {
  background: #008000;
  grid-column: 2/span 1;
}
main.columns .section3 {
  background: #ffa500;
  grid-column: 3/span 1;
}
main.columns .section4 {
  background: #f00;
  grid-column: 4/span 1;
}
main.columns .section5 {
  background: #ff0;
  grid-column: 5/span 1;
}
main.rows {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 60% 40%;
}
main.rows .section1 {
  background: #00f;
  grid-column: 2/span 1;
  grid-row: 1;
}
main.rows .section2 {
  background: #008000;
  grid-column: 3/span 1;
  grid-row: 1;
}
main.rows .section3 {
  background: #ffa500;
  grid-column: 1/span 1;
  grid-row: 1;
}
main.rows .section4 {
  background: #f00;
  grid-column: 1/span 1;
  grid-row: 2;
}
main.rows .section5 {
  background: #ff0;
  grid-column: 2/span 2;
  grid-row: 2;
}
