body
  background white
  position relative
  width 100%
  height 100%
  margin 0
  padding 0

main.columns
  display grid
  grid-template-columns 15% 10% auto 10% 15%
  height 100%

  section
    height 100%

  .section1
    background blue
    grid-column 1 / span 1
  .section2
    background green
    grid-column 2 / span 1
  .section3
    background orange
    grid-column 3 / span 1
  .section4
    background red
    grid-column 4 / span 1
  .section5
    background yellow
    grid-column 5 / span 1

main.rows
  display grid
  grid-template-columns 20% auto 20%
  grid-template-rows 60% 40%
  height 100%

  section
    height 100%

  .section1
    background blue
    grid-column 2 / span 1
    grid-row 1
  .section2
    background green
    grid-column 3 / span 1
    grid-row 1
  .section3
    background orange
    grid-column 1 / span 1
    grid-row 1
  .section4
    background red
    grid-column 1 / span 1
    grid-row 2
  .section5
    background yellow
    grid-column 2 / span 2
    grid-row 2
