main.named
  display grid
  grid-template-columns 20% auto 20%
  grid-template-rows 60% 40%
  grid-template-areas "left center right" \
                      "bottomleft bottomleft bottomright"
  .section1
    background blue
    grid-area center
  .section2
    background green
    grid-area right
  .section3
    background orange
    grid-area left
  .section4
    background red
    grid-area bottomright
  .section5
    background yellow
    grid-area bottomleft
